.s-h1{
    font-size: 4.8rem;
    text-align: center;
    color: #CCCCCC;
    margin-top: 15rem;
}

.s-p{
    font-size: 2rem;
    text-align: center;
    color: #A7A7A7;
    padding-top: 1rem;
}

.stack-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 8rem;
}

.stack-list img{
    width: 10rem;
    height: auto;
}